// Place all the styles related to the sales controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
  background: #2E2F30;
}
html {
  background: #730E15;
}
h1 {
  color: #3c4568;
}