
$bg-color: #3c4568;

* {
  box-sizing: border-box;
}

%flex-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
%border-radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
%btn {
  text-decoration: none;
  padding: 5px 10px;
  font-size: 10pt;
  text-align: center;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  @extend %border-radius;
}


html {
  background: #fff;
}
  body {
    ::-webkit-file-upload-button, a, input[type="submit"], button {
      @extend %btn;
      color: #fff;
      background: $bg-color;
      border: none;
    }

    h1 {
      color: $bg-color;
    }

    margin: 15px;
    @extend %flex-column;
    font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, Sans-Serif, serif;
    font-size: 12pt;
    color: #2E2F30;

    form {
      @extend %flex-column;

      * {
        margin: 5px;
      }
    }

    table {
      text-align: center;
      overflow: hidden;
      border-collapse: separate;
      border: solid #ccc 1px;
      margin: 15px 0;
      background: #efefef;

      thead, tfoot {
        background: #292b2c;
        color: #efefef;
      }

      th, tr, td {
        padding: 10px 5px;
      }

      td {
        text-align: left;
      }

      .col-center {
        text-align: center;
      }
    }

    .show_btn {
      @extend %btn;
      background: #5bc0de;
    }

    .edit_btn {
      @extend %btn;
      background: #5cb85c;
    }

    .delete_btn {
      @extend %btn;
      background: #d9534f;
    }
  }

  .form-footer {
    display: flex;
    * {
      margin: 10px;
    }
  }


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

